.editor-frames {
  display: flex;
  height: fit-content;
  width: fit-content;
  .editor-frame {
    display: flex;
    align-items: center;
    height: fit-content;
    width: fit-content;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    .editor-frame-header {
      color: #0099ff;
      background-color: rgba(0, 153, 255, 0.15);
      width: 100%;
      margin-bottom: 20px;
      height: 50px;
      line-height: 50px;
      padding: 2px 4px;
      border-radius: 14px;
      font-size: 20px;
      text-align: center;
    }
  }
  .editor-frame + .editor-frame {
    margin-left: 200px;
  }
}
