.focused-resize-wrapper {
  position: absolute;
  pointer-events: none;
  width: 100vw;
  height: 100vh;

  .moveable-control-box {
    .moveable-control {
      pointer-events: all;
      background-color: #fff;
      border-color: #1450d9;
    }
    .moveable-line {
      pointer-events: all;
      height: 2px;
      background-color: #1450d9;
    }
  }
}
