.editor-siderbar {
  width: 200px;
  padding: 10px;
  flex-shrink: 0;
  z-index: 2;
  position: relative;
  top: 0;
  left: 0;
  background: #538fa7;

  .editor-siderbar-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 10px;
    .editor-siderbar-item {
      height: 100px;
      background-color: #fff;
      border-radius: 8px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .editor-siderbar-mode {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
  }
}
