.editor-dropzoom {
  position: relative;
  width: fit-content;
  height: fit-content;
  &.editor-dropzoom-isOver::before {
    border: 1px solid red;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    inset: 0;
    content: "";
  }
  &:hover::before {
    border: 1px solid blue;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    inset: 0;
    content: "";
  }
}
